body {
    background-color: #263238;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 30rem;
    height: 40rem;
    background-color: rgb(45, 43, 54);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);
}

.calculator {
    display: grid;
    height: inherit;
    width: inherit;
    border-radius: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    color: white;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item span {
    cursor: pointer;
}

.screen {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    background-color: rgb(29, 30, 37);
    border-radius: .5rem;
    justify-content: end;
    align-items: end;
    padding-right: 2rem;
    padding-bottom: 2rem;
}



.equal-sign {
    grid-row: 5 / 7;
    grid-column: 4 / 5;
    background-color: rgb(53, 104, 212);
    border-radius: .5rem;
}

.sign, .op {
    color:rgb(53, 104, 212);
}


